@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: white;
}

html,
body {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    cursor: default;
}

.mousefollower {
    border: 2px solid white;
    background-color: #fff;
    scale: 2;
    mix-blend-mode: difference;
}

html {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}


.main {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
    overflow: hidden;
}

.loader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}

.line {
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

.line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    font-weight: 100;
}

.line1-part1 h5,
.line1-part1 h6 {
    font-size: 3vw;
    font-weight: 200;
    font-family: 'silk serif';
}

.line1-part1 h5 {
    text-align: right;
    width: 5vw;
}

.line h1,
.line h2 {
    font-weight: 900;
    font-size: 6vw;
    text-transform: uppercase;
}

.line h2 {
    font-size: 4.6vw;
    font-family: 'silk serif';
    opacity: 0;
    animation-duration: 1.5s;
    font-weight: 900;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0% {
        font-family: 'plain light';
        color: white;
        opacity: 1;
    }

    48% {
        font-family: 'plain light';
        color: white;
        opacity: 0;
    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px solid white;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 0;
    }
}

.page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #151515;
    overflow: hidden;
    cursor: default;
}

#hero1 h1::before {
    content: "01";
    position: absolute;
    font-family: "silk serif";
    font-weight: 400;
    font-size: 3vw;
    left: 20vw;
    top: 30vh;
}

.navbar {
    padding: 2.5vw 5.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar svg {
    height: 5vw;
    width: 5vw;
}

.nav-right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

.nav-right li {
    font-weight: 580;
    font-size: 1vw;
    z-index: 2000;
}

.hero {
    overflow: hidden;
    overflow-x: visible;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    margin-left: 30vw;
}

.hero h1 {
    font-weight: 600;
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: .2vw;
    z-index: 2000;
}

#hero1 h1 {
    margin-top: 10vh;
}

#hero3 {
    position: relative;
}

#hero3 h1 {
    border-bottom: .5vw solid white;
}

#hero3 #name:hover {
    padding-bottom: .5vw;
    border-bottom: none;
    -webkit-text-stroke: 1px white;
    font-weight: 400;
    color: transparent;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
    padding-top: 10vh;
    cursor: default;
    margin-bottom: 10vh;
}

.video-container {
    position: relative;
    height: 65vh;
    width: 70vw;
    left: 30%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

.video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

.video-cursor {
    position: absolute;
    left: 70%;
    top: -8%;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffA63d;
    z-index: 999;
}

.video-cursor i {
    font-size: 2.5vw;
}

.page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 5vh 2vw;
    margin-bottom: 20vh;
}

.page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}

.page3 h1::before {
    content: "02";
    position: absolute;
    font-family: "silk serif";
    font-weight: 400;
    font-size: 3vw;
    left: -10vw;
    top: 1vh;
}

.page3 .underline{
    height: 1px;
    width: 90%;
    background-color: #d6d6d6;
    margin: 6vh 0;
    margin-left: 28vw;
}

.page3-circle1 {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    margin-top: 35vh;
    margin-left: 5vw;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page3-circle1 svg {
    height: 40%;
}

.page3-circle2 {
    position: relative;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3-circle2 svg {
    height: 40%;
    rotate: -45deg;
}

.circle1-in,
.circle2-in {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0;
    transition: all 0.5s ease;
}

.circle1-in p,
.circle2-in p {
    font-size: 1.2vw;
    font-weight: 500;
    color: black;
    width: 90%;
    scale: 0;
    opacity: 0;
    transition: all 0.3s ease;
    transition-delay: 0.5s;
}

.circle2-in p {
    text-align: center;
}

.page3-circle1:hover .circle1-in {
    scale: 1;
}

.page3-circle1:hover .circle1-in p {
    opacity: 1;
    scale: 1;
}

.page3-circle2:hover .circle2-in {
    scale: 1;
}

.page3-circle2:hover .circle2-in p {
    opacity: 1;
    scale: 1;
}

.brand-div h2,.brand-div p{
    margin: 2vw;    
}

.brand-div p{
    font-size: 2vw;
    width: 25vw;
}

.brand-div .underline{
    height: 1px;
    width: 25vw;
    background-color: #d6d6d6;
    margin: 6vh 2vw;
}

.image-div-container {
    padding: 1vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-div {
    height: 38vw;
    width: 25vw;
    position: relative;
    overflow: hidden;
    margin: 2vw;
    flex-shrink: 0;
}

.image-div:nth-child(1) {
    height: 28vw;
    width: 21vw;
}

.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.page4 {
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
    padding: 5vh 0;
    margin-bottom: 10vh;
}

.page4-content {
    position: relative;
    width: 72vw;
    margin-left: 28%;
}

.page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

.page4-content h1::before {
    content: "03";
    position: absolute;
    font-family: "silk serif";
    font-weight: 400;
    font-size: 3vw;
    left: -10vw;
    top: 1vh;
}

.page4-content .underline {
    height: 1px;
    width: 90%;
    background-color: #d6d6d6;
    margin: 6vh 0;
}

.page4-content>p {
    font-size: 2.3vw;
    width: 50%;
    margin-bottom: 4%;
}

.page4-flex {
    display: flex;
    gap: 2vw;
}

.page4-flex img {
    width: 45%;
    object-fit: cover;
}

.page4-flex p {
    font-size: 1vw;
    width: 25%;
    line-height: 1.5vw;
}

.page4-blue {
    width: 32vw;
    background-color: #3F7DF4;
    padding: 4vw 3vw;
    position: relative;
    margin-top: -18%;
    margin-left: 27%;
}

.blue-div-elem {
    padding: 2vw 0vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.blue-div-elem h4 {
    font-size: 1.7vw;
    font-weight: 500;
}

.blue-div-elem p {
    width: 40%;
    font-size: 1vw;
}

.page5 {
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
}

.elem {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vh;
}

.elem h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    animation-name: textAnimation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.elem2 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vh;
}

.elem2 h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    transform: translateX(calc(-100%-20px));
    animation-name: textAnimation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span,
.elem2 span {
    font-family: "silk serif";
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
}

@keyframes textAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

.footer {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 10vh 0;
    padding-left: 28vw;
    position: relative;
}

.footer h1{
    font-size: 7vw;
    letter-spacing: .3vw;
    text-transform: uppercase;
    position: relative;
}

.footer h1::before {
    content: "04";
    position: absolute;
    font-family: "silk serif";
    font-weight: 400;
    font-size: 3vw;
    left: -10vw;
    top: 1vh;
}

.footer-div {
    padding-right: 7vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .underline {
    height: 1px;
    width: 67vw;
    background-color: #fff;
    margin-top: 9.2vh;
}

.box {
    margin-top: 12vh;
    width: 30%;
    text-transform: capitalize;
    line-height: 3.5vh;
    margin-bottom: 7vh;
}

.box h5 {
    text-transform: capitalize;
    font-size: 1.8vw;
    font-weight: 200;
    color: #F9F9F9;
}

.box .elem {
    height: 3.8vh;
    overflow: hidden;
}

.elem #firstName {
    margin-bottom: 2vh;
}

.box .elem h5 {
    transition: all ease 0.8s;
}

.box .elem:hover #firstName {
    margin-top: -5.85vh;
}

.box h6 {
    font-size: 1vw;
    font-weight: 500;
    margin-bottom: 2.5vh;
    text-transform: capitalize;
    color: #F9F9F9;
}

.box .mail {
    text-decoration: underline;
    text-transform: lowercase;
}

.footer h4 {
    font-size: 1vw;
    font-weight: 500;
    margin: 5vh 0;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}

#flag {
    position: absolute;
    height: 20vw;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
}

@media (max-width:600px) {
    .loader {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 1;
        background-color: #0B0B0B;
        padding: 30vh 5vw;
    }
    
    .line {
        overflow: hidden;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3vw;
    }

    #line1{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1vw;
    }
    
    .line1-part1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2vw;
        font-weight: 100;
    }
    
    .line1-part1 h5,
    .line1-part1 h6 {
        font-size: 4vw;
        font-weight: 200;
        font-family: 'silk serif';
    }
    
    .line1-part1 h5 {
        text-align: left;
        width: 5vw;
    }
    
    .line h1,
    .line h2 {
        font-weight: 900;
        font-size: 7vw;
        text-transform: uppercase;
    }
    
    .line h2 {
        font-size: 4.6vw;
        font-family: 'silk serif';
        opacity: 0;
        animation-duration: 1.5s;
        font-weight: 900;
        animation-iteration-count: infinite;
    }
    .page1 {
        position: relative;
        height: 60vh;
        width: 100%;
        background-color: #151515;
        overflow: hidden;
        cursor: default;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 1.5vw 5.5vw;
        position: fixed;
        top: 0;
        z-index: 999;
    }

    .navbar svg {
        height: 16vw;
        width: 16vw;
    }

    .nav-right {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5vw;
        display: none;
    }

    .nav-right li {
        font-weight: 580;
        font-size: 1vw;
        z-index: 2000;
    }

    .hero {
        overflow: hidden;
        overflow-x: visible;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 72%;
        margin-left: 5.5vw;
    }

    .hero h1 {
        font-weight: 600;
        font-size: 9.2vw;
        text-transform: uppercase;
        letter-spacing: 0.1vh;
        line-height: 9.2vw;
        z-index: 2000;
    }

    #hero1 {
        overflow: visible;
    }

    #hero1 h1 {
        margin-top: 26vh;
    }

    #hero1 h1::before {
        content: "01";
        position: absolute;
        font-family: "silk serif";
        font-weight: 400;
        font-size: 6vw;
        left: 0vw;
        top: -8vh;
    }

    #hero3 {
        position: relative;
    }

    #hero3 h1 {
        border-bottom: 1vw solid white;
    }

    #hero3 #name:hover {
        padding-bottom: .5vw;
        border-bottom: none;
        -webkit-text-stroke: 1px white;
        font-weight: 400;
        color: transparent;
    }

    .page2 {
        width: 100%;
        height: 52vh;
        padding: 6.5vh 0;
    }

    .video-container {
        position: relative;
        height: 50vh;
        width: 100vw;
        left: 0;
        background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
        background-size: cover;
        background-position: center;
    }

    .video-container video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0;
    }

    .video-cursor {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffA63d;
        z-index: 999;
    }

    .video-cursor i {
        font-size: 6vw;
    }

    .page3 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        padding: 0vh 2vw;
        margin-bottom: 10vh;
    }

    .page3 h1 {
        font-size: 9.5vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 1.8vw;
    }

    .page3 h1::before {
        content: "02";
        position: absolute;
        font-family: "silk serif";
        font-weight: 400;
        font-size: 6vw;
        left: 1.2vw;
        top: -8vh;
    }

    .page3 .underline{
        height: 1px;
        width: 95%;
        background-color: #d6d6d6;
        margin: 4vh 0;
        margin-left: 1.8vw;
    }

    .page3-circle1 {
        height: 25vw;
        width: 25vw;
        border-radius: 50%;
        border: 2px solid white;
        display: flex;
        margin-top: 35vh;
        margin-left: 5vw;
        justify-content: center;
        align-items: center;
        position: relative;
        display: none;
    }

    .page3-circle1 svg {
        height: 40%;
    }

    .page3-circle2 {
        position: relative;
        height: 25vw;
        width: 25vw;
        border-radius: 50%;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .page3-circle2 svg {
        height: 40%;
        rotate: -45deg;
    }

    .circle1-in,
    .circle2-in {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: white;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        scale: 0;
        transition: all 0.5s ease;
    }

    .circle1-in p,
    .circle2-in p {
        font-size: 1.2vw;
        font-weight: 500;
        color: black;
        width: 90%;
        scale: 0;
        opacity: 0;
        transition: all 0.3s ease;
        transition-delay: 0.5s;
    }

    .circle2-in p {
        text-align: center;
    }

    .page3-circle1:hover .circle1-in {
        scale: 1;
    }

    .page3-circle1:hover .circle1-in p {
        opacity: 1;
        scale: 1;
    }

    .page3-circle2:hover .circle2-in {
        scale: 1;
    }

    .page3-circle2:hover .circle2-in p {
        opacity: 1;
        scale: 1;
    }

    .brand-div h2,.brand-div p{
        margin: 2vw;    
    }
    
    .brand-div p{
        font-size: 5vw;
        width: 90vw;
    }
    
    .brand-div .underline{
        height: 1px;
        width: 90vw;
        background-color: #d6d6d6;
        margin: 6vh 2vw;
    }

    .image-div-container {
        padding: 1vw;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }


    .image-div {
        height: 115vw;
        width: 90vw;
        position: relative;
        overflow: hidden;
        margin: 2vw 0;
        margin-left: 1.8vw;
        flex-shrink: 0;
    }

    .image-div:nth-child(1) {
        height: 115vw;
        width: 90vw;
    }

    .image-div img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .page4 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        padding: 0vh 2vw;
        margin-bottom: 5vh;
    }

    .page4-content {
        position: relative;
        width: 72vw;
        margin-left: 1.8vw;
    }

    .page4-content h1 {
        font-size: 9.5vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 1.8vw;
    }

    .page4-content h1::before {
        content: "03";
        position: absolute;
        font-family: "silk serif";
        font-weight: 400;
        font-size: 6vw;
        left: 1.2vw;
        top: -8vh;
    }

    .page4-content .underline {
        height: 2px;
        width: 90vw;
        background-color: #d6d6d6;
        margin: 4vh 0;
        margin-left: 1.8vw;
    }

    .page4-content>p {
        line-height: 1.15;
        font-size: 6vw;
        width: 85vw;
        margin: 12vw 0;
        margin-left: 1.8vw;
    }

    .page4-flex {
        display: flex;
        flex-direction: column-reverse;
        gap: 2vw;
        margin-left: 1.8vw;
    }

    .page4-flex img {
        width: 90vw;
        margin: 7vw 0;
        object-fit: cover;
    }

    .page4-flex p {
        font-size: 3.9vw;
        width: 80vw;
        line-height: 1.5;
    }

    .page4-blue {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90vw;
        height: fit-content;
        background-color: #3F7DF4;
        position: relative;
        margin-left: 1.8vw;
        margin-top: -7vw;
    }

    .blue-div-elem {
        padding: 7vw 0vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid rgb(221, 221, 221);
    }

    .blue-div-elem h4 {
        font-size: 4vw;
        font-weight: 500;
    }

    .blue-div-elem p {
        width: 50%;
        font-size: 4vw;
    }

    .page5 {
        width: 100%;
        min-height: 20vh;
        background-color: #151515;
        position: relative;
    }

    .elem {
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: 1vh;
    }

    .elem h1 {
        font-size: 7vw;
        -webkit-text-stroke: 1px white;
        font-weight: 300;
        color: transparent;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 20px;
        animation-name: textAnimation;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .elem2 {
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: 1vh;
    }

    .elem2 h1 {
        font-size: 7vw;
        -webkit-text-stroke: 1px white;
        font-weight: 300;
        color: transparent;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 20px;
        transform: translateX(calc(-100%-20px));
        animation-name: textAnimation;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }

    .elem span,
    .elem2 span {
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        font-weight: 300;
        color: transparent;
    }

    @keyframes textAnimation {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(-100% - 20px));
        }
    }

    .footer {
        min-height: 100vh;
        width: 100%;
        background-color: #151515;
        padding: 5vw 2vw;
        margin-top: 10vh;
        position: relative;
    }

    .footer h1 {
        font-size: 9.5vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 1.8vw;
    }

    .footer h1::before {
        content: "04";
        position: absolute;
        font-family: "silk serif";
        font-weight: 400;
        font-size: 6vw;
        left: 0vw;
        top: -8vh;
    }

    .footer-div {
        margin-left: 1.8vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .footer .underline {
        height: 2px;
        width: 90vw;
        background-color: #d6d6d6;
        margin: 4vh 0;
        margin-left: 1.8vw;
    }

    .box {
        width: 90vw;
        text-transform: capitalize;
        margin: 0;
    }

    .box h5 {
        text-transform: capitalize;
        font-size: 4vw;
        font-weight: 200;
        color: #F9F9F9;
    }

    .box .elem {
        height: 3.2vh;
        overflow: hidden;
    }

    .box .elem h5 {
        transition: all ease 0.8s;
    }

    .box .elem:hover #firstName {
        margin-top: -5.85vh;
    }

    .box h6 {
        font-size: 3vw;
        font-weight: 600;
        text-transform: capitalize;
        color: #F9F9F9;
    }

    .box .mail {
        text-decoration: underline;
        text-transform: lowercase;
    }

    .footer h4 {
        font-size: 3vw;
        font-weight: 500;
        margin: 2vw 0;
        margin-left: 1.8vw;
    }

    ._canvas_container {
        z-index: 999999 !important;
        pointer-events: none;
    }

    #flag {
        position: absolute;
        height: 20vw;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}