* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #000;
    overflow: hidden;
}

.cursor{
    position: fixed;
    left: 0%;
    top: 50%;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: 1px solid rgb(199, 199, 199);
    background: transparent;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.loader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line {
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

.line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    font-weight: 100;
}

.line1-part1 h5,
.line1-part1 h6 {
    font-size: 3vw;
    font-weight: 200;
    font-family: 'silk serif';
}

.line1-part1 h5 {
    text-align: right;
    width: 5vw;
}

.line h1,
.line h2 {
    font-weight: 900;
    font-size: 6vw;
    text-transform: uppercase;
}

.line h2 {
    font-size: 4.6vw;
    font-family: 'silk serif';
    opacity: 0;
    animation-duration: 1.5s;
    font-weight: 200;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0% {
        font-family: 'plain light';
        -webkit-text-stroke: 1px white;
        font-weight: 600;
        color: white;
        opacity: 1;
    }

    47% {
        font-family: 'plain light';
        -webkit-text-stroke: 1px white;
        font-weight: 600;
        color: white;
        opacity: 0;
    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px solid white;
        font-weight: 300;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px white;
        font-weight: 300;
        color: transparent;
        opacity: 0;
    }
}

.page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    cursor: default;
    overflow: hidden;
}

.navbar {
    padding: 3.2vw 5.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

.nav-right li {
    font-weight: 580;
    font-size: 1vw;
    z-index: 2;
}

.navbar svg{
    z-index: 2;
}

.hero {
    overflow: hidden;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin-left: 30%;
}

.hero h1{
    overflow: hidden;
    font-weight: 600;
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: .2vw;
    z-index: 2;
}

#hero1{
    margin-top: 7vw;
}

#hero3 h1{
    border-bottom: .5vw solid white;
}

#hero3 #slash{
    border-bottom: none;
}

#hero3:nth-child(1) , #hero3:nth-child(3){
    margin-right: .7vw;
}

#hero3 #name:hover {
    border-bottom: none;
    padding-bottom: 0.45vw;
    -webkit-text-stroke: 1px white;
    font-weight: 400;
    color: transparent;
}

.page2{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
    padding-top: 17.5vh;
}

.video-container{
    position: relative;
    height: 65vh;
    width: 70%;
    margin-left: 30%;
    background-color: grey;
}

.page2-cursor{
    position: absolute;
    left: 80%;
    top: 0%;
    height: 8vw;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: orange;
}

.page2-cursor i{
    font-size: 2.5vw;
}