* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: white;
}

html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    cursor: default;
}

html {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}


.main {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #030303;
    overflow: hidden;
}

.cursor {
    position: fixed;
    left: 0%;
    top: 50%;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: 1px solid rgb(199, 199, 199);
    background: transparent;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
}

.loader {
    cursor: default;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}

.line {
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

.line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    font-weight: 100;
}

.line1-part1 h5,
.line1-part1 h6 {
    font-size: 3vw;
    font-weight: 200;
    font-family: 'silk serif';
}

.line1-part1 h5 {
    text-align: right;
    width: 5vw;
}

.line h1,
.line h2 {
    font-weight: 900;
    font-size: 6vw;
    text-transform: uppercase;
}

.line h2 {
    font-size: 4.6vw;
    font-family: 'silk serif';
    opacity: 0;
    animation-duration: 1.5s;
    font-weight: 900;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0% {
        font-family: 'plain light';
        color: white;
        opacity: 1;
    }

    48% {
        font-family: 'plain light';
        color: white;
        opacity: 0;
    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px solid white;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 0;
    }
}

.page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #151515;
    cursor: default;
    overflow: hidden;
}

.navbar {
    padding: 2.5vw 5.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar svg{
    height: 5vw;
    width: 5vw;
}

.nav-right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

.nav-right li {
    font-weight: 580;
    font-size: 1vw;
    z-index: 2000;
}

.hero {
    overflow: hidden;
    overflow-x: visible;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    margin-left: 30vw;
}

.hero h1 {
    font-weight: 600;
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: .2vw;
    z-index: 2000;
}

#hero1{
    overflow: visible;
}

#hero1 h1{
    margin-top: 10vh;
}

#hero1 h1::before{
    content: "01";
    position: absolute;
    font-family: "silk serif";
    font-weight: 400;
    font-size: 3vw;
    left: -10vw;
    top: 1vh;
}

#hero3 h1 {
    border-bottom: .5vw solid white;
}

#hero3 #slash {
    border-bottom: none;
    margin-bottom: 1vw;
}

#hero3:nth-child(1),
#hero3:nth-child(3) {
    margin-right: .7vw;
}

#hero3 #name:hover {
    padding-bottom: .5vw;
    border-bottom: none;
    -webkit-text-stroke: 1px white;
    font-weight: 400;
    color: transparent;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
    padding-top: 17.5vh;
}

.video-container {
    position: relative;
    height: 65vh;
    width: 70vw;
    left: 30%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
}

.video-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.page2-cursor {
    position: absolute;
    left: 80%;
    top: 1%;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 900;
    background-color: orange;
    z-index: 2000;
}

.page2-cursor i {
    font-size: 2.5vw;
}

.page3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(61, 61, 61);
    position: relative;
}

.page4 {
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
    padding: 5vh 0;
}

.page4-content {
    position: relative;
    width: 72vw;
    margin-left: 28%;
}

.page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

.page4-content h1::before{
    content: "03";
    position: absolute;
    font-family: "silk serif";
    font-weight: 400;
    font-size: 3vw;
    left: -10vw;
    top: 1vh;
}

.page4-content .underline {
    height: 1px;
    width: 90%;
    background-color: #d6d6d6;
    margin: 6vh 0;
}

.page4-content>p {
    font-size: 2.3vw;
    width: 50%;
    margin-bottom: 4%;
}

.page4-flex {
    display: flex;
    gap: 2vw;
}

.page4-flex img {
    width: 45%;
    object-fit: cover;
}

.page4-flex p {
    font-size: 1vw;
    width: 25%;
    line-height: 1.5vw;
}

.page4-blue {
    width: 32vw;
    background-color: #3F7DF4;
    padding: 4vw 3vw;
    position: relative;
    margin-top: -18%;
    margin-left: 27%;
}

.blue-div-elem {
    padding: 2vw 0vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.blue-div-elem h4 {
    font-size: 1.7vw;
    font-weight: 500;
}

.blue-div-elem p {
    width: 40%;
    font-size: 1vw;
}

.page5 {
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
}

.elem {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vh;
}

.elem h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    animation-name: textAnimation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.elem2 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vh;
}

.elem2 h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    transform: translateX(calc(-100%-20px));
    animation-name: textAnimation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span,
.elem2 span {
    font-family: "silk serif";
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    color: transparent;
}

@keyframes textAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

.footer {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-left: 28vw;
    padding-top: 5vh;
    position: relative;
}

.footer h1 {
    font-size: 7vw;
    letter-spacing: .3vw;
    text-transform: uppercase;
    position: relative;
}

.footer h1::before{
    content: "04";
    position: absolute;
    font-family: "silk serif";
    font-weight: 400;
    font-size: 3vw;
    left: -10vw;
    top: 1vh;
}

.footer-div {
    padding-right: 7vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .underline {
    height: 1px;
    width: 67vw;
    background-color: #fff;
    margin-top: 9.2vh;
}

.box {
    margin-top: 12vh;
    width: 30%;
    text-transform: capitalize;
    line-height: 3.5vh;
    margin-bottom: 7vh;
}

.box h6 {
    font-size: 1vw;
    font-weight: 500;
    margin-bottom: 2.5vh;
    text-transform: capitalize;
    color: #F9F9F9;
}

.box h5 {
    text-transform: capitalize;
    font-size: 1.8vw;
    font-weight: 200;
    color: #F9F9F9;
}

.box .mail {
    text-decoration: underline;
    text-transform: lowercase;
}

.footer h4 {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 5vh;
}